@import "./_font.variables.scss";

.mds-fsi-big {
  font-size: $font-size-big;
}

.mds-fsi-medium {
  font-size: $font-size-medium;
}

.mds-fsi-small {
  font-size: $font-size-small;
}

.mds-fst-normal {
  font-weight: $font-style-normal;
}

.mds-fst-bold {
  font-weight: $font-style-bold;
}

